
@media only screen and (min-width: 0px) and (max-width: 767px){
    html,
    body{
    font-size: 14px;
    }

    section{
        padding: 6% 0;
    }

    .three-col,
    .two-col,
    .js--whyus ul,
    .js--whyus-twocol ul{
    display: grid; 
    grid-template-columns: 100%;
    width: 100%; 
    margin-top: 4%;
    grid-gap: 2% 0;
    }

    h1, 
    h3{
        font-size: 180%;
    }

    h2{
        font-size: 110%;
    }

    h4{
        font-size: 130%;

    }

    .fas{
        font-size: 100%;
    }

    .btn{
        font-size: 110%;
        padding: 6% 6%;
    }

    .hero-btn{
        width: 80%;
        margin-top: 69%;
        margin-left: 10%;
        padding: 3%;
    }

    .menu{
        grid-template-columns: 100%;
    }

    .logo img{
        width: 60%;
        margin: 3% 0 0 20%;
    }

    .contacts{
      display: none;
    }

    .bookmark{
        display: none;
    }

    header{
        background-color: #f0faff;
    }

    .hero{
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3)), url(img/op_sm.png); 
        grid-template-columns: 100%;
        background-size: 100%;
        background-position-y: bottom;
    }

    .hero-text{
        padding: 8% 6% 4%; 
        text-align: center;
    }

    .whyus{
        background-size: 160%;
    }

    .js--whyus-twocol{
       display: none;
    }

    .js--whyus-format p{
        padding: 0 10% 10%;
        font-size: 110%;
    }

    .container-btn{
        width: 80%;
        margin: 20% 0 16% 10%;
    }

    .slide-list img{
        width: 100%;
        height: auto;
      
    }

    .treatment-text{
        width: 100%;
        padding: 3% 10%;
        margin-top: 3%;
        text-align: justify;
    }

    .treatment-text h4,
    .treatment-text p{
        line-height: 130%;
    }

    .treatment-btn{
        margin-left: 10%;
        margin-top: 16%;
    }

    .doctor{
        margin-top: 10%;
    }

    .js--doctors ul{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: .2% 0;
        margin-top: 10%;
    }

    .to-remove{
        grid-template-columns: 100%;
        grid-row-gap: 3%; 
    }

    .jm-img{
        width: 80%;
        margin-left: 10%;
    }

    .doctor-btn{
        width: 80%;
        margin-left: 10%;
        margin-top: 40%;
    }

    .steps{
        padding: 6% 0 2%;
    }

    .step p{
        font-size: 110%;
        padding: 6% 0;
    }

    .step-btn{
        width: 90%;
        margin: 0 5% 6%;
    }

    .feedback-section{
        padding-bottom: 6%;
    }

    .feedback-container{
        padding-top: 16%; 
    }

    .js--feedback-container{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 6%;
    }

    .feedback-img{
        width: 20%;
        margin-left: 35%;
    }

    .feedback-btn{
        width: 90%;
        margin-left: 5%;
    }

    .questions{
       margin-top: 19%;
    }

    .phone{
        color: #999796;
    }

    .footer-container{
        grid-template-columns: 100%;
        justify-items: center;
    }

    .footer-logo img{
        margin-left: 25%;
    }

    .footer-phone{
        color: #fff;
    }

    .contact,
    .rechts,
    .icons{
        text-align: center;
        margin-top:6%;
    }

    .icons img{
        width: 18%;
    }

    .js--doctors-popup{
        top:2%;
        padding: 6%;
        margin-left: -5%;
        width: 100vw; /* viewport width */
        height: auto; /* viewport height */
    }

    .express-form-box,
    .question-form-box{
        top: 1%;
        margin: 0;
        width: 100vw; /* viewport width */
        height: auto; /* viewport height */
    }

    .check-list-form-box{
        top: 1%;
        bottom: 0;
        width: 100vw; /* viewport width */
        height: 100vw; /* viewport height */
        margin:0;
    }

    .options-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-thankyou img{
        width: 100%;
    }

    .thankyou{
        display: grid;
        grid-template-columns: 100%;
        width: 80%;
        margin: 8% 10%;
        text-align: center;
    }

    .fa-facebook-square,
    .fa-home,
    .fa-plane-arrival{
    padding: 3%;
    font-size: 300%;
    }

    .thankyou img{
        width: 60%;
        margin: 0;
        padding: 0;
     }
 
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    html,
    body{
    font-size: 14px;
    }

    .three-col,
    .two-col,
    .js--whyus ul,
    .js--whyus-twocol ul{
    display: grid; 
    width: 100%; 
    margin-top: 4%;
    grid-gap: 0 2%;;
    }

    h1{
        font-size: 180%;
    }

    h4{
        font-size: 110%;
    }

    .fas{
        font-size: 100%;
    }

    .btn{
        font-size: 110%;
        padding: 3%;
    }

    .menu{
        grid-template-columns: 25% 65%;
    }

    .contacts{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 6%;
        font-size: 100%;
    }

    .logo img{
        width:90%;
        height: auto;
        margin: 3% 0;
    }

    .bookmark{
        display: none;
    }

    .hero-btn{
        width: 80%;
        margin-top: 13%;
    }

    .hero{
        grid-template-columns: 55% 45%;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4)), url(img/op.png);
        background-position: top left;
    }

    .hero-text{
        padding: 18% 0 16% 10%; 
    }

    .whyus{
        background-size: 160%;
    }

    .js--whyus-twocol{
        width: 68%;
        margin-left: 15%;
        grid-gap: 0 6%;
    }

    .js--whyus-format p{
        padding: 0 10% 10%;
        font-size: 100%;
    }
    
    .slide-list img{
        width: 100%;
        height: auto;
    }

    .treatment-text{
        width: 100%;
        padding-right: 10%;
        margin-top: 3%;
    }

    .treatment-text h4,
    .treatment-text p{
        line-height: 100%;
    }

    .treatment-btn{
        margin-bottom: 3%;
    }

    .js--doctors ul{
        grid-template-columns: repeat(2, 1fr);
    }

    .to-remove{
        grid-template-columns: 100%;
        grid-row-gap: 3%;
        padding: 3%;
    }

    .jm-img{
        width: 50%;
    }

    .doctor-btn{
        width: 80%;
        margin-left: 10%;
        margin-top: 33%;
    }

    .steps{
        padding: 3% 10%;
    }

    .steps-container .doctor-btn{
        margin: 3% 10%;
    }

    .step-btn{
        width: 80%;
        margin: 0 10% 6%;
    }

    .js--feedback-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .feedback-img{
        width: 20%;
        margin-left: 35%;
    }

    .feedback-btn{
        width: 80%;
        margin-left: 10%;
    }

    .questions{
       margin-top: 6%;
    }

    .footer-logo img{
        width: 70%;
    }

    .fa-facebook-square,
    .fa-home,
    .fa-plane-arrival{
        padding: 3%;
        font-size: 300%;
    }

    .express-form-box,
    .question-form-box{
        width: 80%;
        margin-left: 10%;
}

    .check-list-form-box{
        width: 80%;
        margin-left: 10%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1299px){
    html,
    body{
    font-size: 14px;
    }

    .three-col,
    .two-col,
    .js--whyus ul,
    .js--whyus-twocol ul{
    display: grid; 
    width: 100%; 
    margin-top: 4%;
    grid-gap: 0 2%;;
    }

    h1{
        font-size: 180%;
    }

    h4{
        font-size: 120%;
    }

    .fas{
        font-size: 100%;
    }

    .btn{
        font-size: 110%;
        padding: 3% 3%;
    }

    .hero-btn{
        width: 80%;
        margin-top: 9%;
    }

    .contacts{
        width: 90%;
        font-size: 100%;
    }

    .menu{
        grid-template-columns: 20% 80%;
    }

    .whyus,
    .doctor{
        background-size: 160%;
    }

    .doctor{
        background-position-y: 4%;
    }

    .js--whyus-twocol{
        width: 68%;
        margin-left: 15%;
        grid-gap: 0 2%;
    }

    .js--whyus-format p{
        padding: 0 10% 10%;
        font-size: 100%;
    }

    .treatment-container .two-col{
        grid-column-gap: 0;
    }
    
    .treatment-text{
        width: 100%;
        padding-right: 10%;
    }

    .treatment-btn{
        width: 100%;
        padding: 6%;
        margin-top: 6%;
        margin-bottom: 20%;
    }

    .js--doctors ul{
        grid-template-columns: repeat(3, 1fr);
    }

    .doctor-btn{
        margin-top: 20%;
    }

    .steps{
        padding: 3% 10%;
    }

    .feedback-img{
        width: 30%;
        margin-left: 35%;
    }

    .footer-logo img{
        width: 70%;
    }

    .express-form-box,
    .question-form-box{
        width: 60%;
        margin-left: 20%;
    }

    .check-list-form-box{
        width: 90%;
        margin-left: 5%;
    }

    .fa-facebook-square,
    .fa-home,
    .fa-plane-arrival{
    padding: 3%;
    font-size: 300%;
    }
}